[data-bedtime-theme='default'] {
  --story-border-color: #e5e5e5;
  --story-title-font-weight: 600;
  --story-title-font-size: 1.4rem;
  --story-title-letter-spacing: -0.02em;
  --variant-border-color: #e5e5e5;
  --variant-container-padding: 0;
  --variant-title-font-weight: 600;
  --variant-title-font-size: 1.2rem;
  --variant-title-letter-spacing: -0.02em;
}