[data-bedtime-theme='default'] {
  /* Story */
  --story-actions-align-content: center;
  --story-actions-display: flex;
  --story-actions-gap: 0.5rem;
  --story-border-color: #e5e5e5;
  --story-container-padding: 0;
  --story-container-width: 100%;
  --story-content-margin: 1rem 0 0 0;
  --story-content-display: block;
  --story-content-gap: 1rem;
  --story-content-grid-template-columns: ;
  --story-content-grid-gap: ;
  --story-header-align-content: center;
  --story-header-display: flex;
  --story-header-gap: 1rem;
  --story-title-font-size: 1.2rem;
  --story-title-font-weight: 500;
  --story-title-letter-spacing: -0.02em;
  --story-title-text-color: #374151;

  /* Variant */
  --variant-actions-align-content: center;
  --variant-actions-display: flex;
  --variant-actions-gap: 0.5rem;
  --variant-border-color: #e5e5e5;
  --variant-container-padding: 0;
  --variant-content-border: 1px solid #e5e5e5;
  --variant-content-border-radius: 0.375rem;
  --variant-content-guide-color: #e5e5e5;
  --variant-content-guide-opacity: 0.5;
  --variant-content-margin: 0.5rem 0 0 0;
  --variant-content-padding: 1rem;
  --variant-content-position: relative;
  --variant-content-guideline-border: 0;
  --variant-header-align-content: center;
  --variant-header-display: flex;
  --variant-header-gap: 0.5rem;
  --variant-title-font-size: 1rem;
  --variant-title-font-weight: 500;
  --variant-title-letter-spacing: -0.02em;
  --variant-title-text-color: #374151;

  /* Template View */
  --template-view-border: 0;
  --template-view-border-radius: 0.375rem;
  --template-view-margin: 1rem 0 0 0;
  --template-view-padding: 1rem;
  --template-view-font-size: 14px;

  /* Stories Layout */
  --stories-layout-height: 100vh;
  --stories-main-bg-color: #fff;
  --stories-main-padding: 1rem;
  --stories-sidebar-bg-color: #f8f8f8;
  --stories-sidebar-border: 1px solid #e5e5e5;
  --stories-sidebar-padding: 1rem;
  --stories-sidebar-width: 250px;
  --stories-sidebar-link-font-size: 0.875rem;
  --stories-sidebar-link-bg-color: #374151;
  --stories-sidebar-link-bg-hover: #e5e7eb;
  --stories-sidebar-link-padding: 0.5rem;
  --stories-sidebar-link-border-radius: 0.375rem;
  --stories-sidebar-link-transition: all 0.2s;
  --stories-sidebar-link-active-bg: #e5e7eb;
  --stories-sidebar-link-active-weight: 500;
}